body {
    background-color: #BADA55;
}
#graph .choice {
    float: left;
    font-family: arial;
    font-size: 12px;
    min-width: 200px;
    text-align: center;
    margin: 8px 5px;
}
#graph .bar {
    width: 0;
    height: 35px;
    background-color: salmon;
    margin: 5px;
    float: left;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
